share/splunk/search_mrsparkle/exposed/schema/view.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <a:documentation>
Splunk view RelaxNG schema
</a:documentation>
    <choice>
      <ref name="View"/>
      <ref name="Dashboard"/>
      <ref name="Form"/>
    </choice>
  </start>
  <define name="BaseView">
    <a:documentation>
advanced XML view
</a:documentation>
    <interleave>
      <optional>
        <attribute name="refresh"/>
      </optional>
      <optional>
        <attribute name="onunloadCancelJobs">
          <ref name="Boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="autoCancelInterval"/>
      </optional>
      <optional>
        <attribute name="isVisible"/>
      </optional>
      <optional>
        <attribute name="autoRun"/>
      </optional>
      <optional>
        <attribute name="template"/>
      </optional>
      <optional>
        <attribute name="displayView"/>
      </optional>
      <optional>
        <attribute name="stylesheet"/>
      </optional>
      <optional>
        <attribute name="objectMode"/>
      </optional>
    </interleave>
  </define>
  <define name="View">
    <element name="view">
      <interleave>
        <ref name="BaseView"/>
        <optional>
          <element name="label">
            <text/>
          </element>
        </optional>
        <zeroOrMore>
          <ref name="Module"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Module">
    <element name="module">
      <interleave>
        <attribute name="name"/>
        <optional>
          <attribute name="layoutPanel"/>
        </optional>
        <optional>
          <attribute name="group"/>
        </optional>
        <optional>
          <attribute name="altTitle"/>
        </optional>
        <optional>
          <attribute name="autoRun"/>
        </optional>
        <zeroOrMore>
          <ref name="Param"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Module"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Param">
    <element name="param">
      <interleave>
        <attribute name="name"/>
        <zeroOrMore>
          <ref name="Param"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="List"/>
        </zeroOrMore>
        <text/>
      </interleave>
    </element>
  </define>
  <define name="List">
    <element name="list">
      <interleave>
        <zeroOrMore>
          <ref name="Item"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Param"/>
        </zeroOrMore>
        <text/>
      </interleave>
    </element>
  </define>
  <define name="Item">
    <element name="item">
      <interleave>
        <zeroOrMore>
          <ref name="Param"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="List"/>
        </zeroOrMore>
        <text/>
      </interleave>
    </element>
  </define>
  <define name="BaseSimple">
    <a:documentation>
base simple XML
</a:documentation>
    <interleave>
      <ref name="BaseView"/>
      <optional>
        <element name="label">
          <text/>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="Row"/>
      </zeroOrMore>
    </interleave>
  </define>
  <define name="Row">
    <element name="row">
      <interleave>
        <optional>
          <attribute name="grouping"/>
        </optional>
        <zeroOrMore>
          <ref name="Chart"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Table"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Single"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Event"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Html"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Panel">
    <interleave>
      <optional>
        <element name="title">
          <text/>
        </element>
      </optional>
      <optional>
        <choice>
          <element name="searchString">
            <text/>
          </element>
          <element name="searchName">
            <text/>
          </element>
          <element name="searchTemplate">
            <text/>
          </element>
          <element name="searchPostProcess">
            <text/>
          </element>
        </choice>
      </optional>
      <optional>
        <element name="earliestTime">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="latestTime">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="fields">
          <text/>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="Option"/>
      </zeroOrMore>
    </interleave>
  </define>
  <define name="Chart">
    <element name="chart">
      <ref name="Panel"/>
    </element>
  </define>
  <define name="Table">
    <element name="table">
      <ref name="Panel"/>
    </element>
  </define>
  <define name="Single">
    <element name="single">
      <ref name="Panel"/>
    </element>
  </define>
  <define name="Event">
    <element name="event">
      <ref name="Panel"/>
    </element>
  </define>
  <define name="Html">
    <element name="html">
      <interleave>
        <zeroOrMore>
          <ref name="GlobElement"/>
        </zeroOrMore>
        <text/>
      </interleave>
    </element>
  </define>
  <define name="Option">
    <element name="option">
      <attribute name="name"/>
      <text/>
    </element>
  </define>
  <define name="Dashboard">
    <a:documentation>
simple dashboard
</a:documentation>
    <element name="dashboard">
      <ref name="BaseSimple"/>
    </element>
  </define>
  <define name="Form">
    <a:documentation>
Simple form
</a:documentation>
    <element name="form">
      <interleave>
        <ref name="BaseSimple"/>
        <optional>
          <attribute name="class"/>
        </optional>
        <optional>
          <element name="searchTemplate">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="earliestTime">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="latestTime">
            <text/>
          </element>
        </optional>
        <optional>
          <ref name="Fieldset"/>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="Fieldset">
    <element name="fieldset">
      <interleave>
        <optional>
          <attribute name="autoRun">
            <ref name="Boolean"/>
          </attribute>
        </optional>
        <zeroOrMore>
          <ref name="Input"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="BaseInput">
    <interleave>
      <optional>
        <attribute name="token"/>
      </optional>
      <optional>
        <attribute name="searchWhenChanged">
          <ref name="Boolean"/>
        </attribute>
      </optional>
      <optional>
        <element name="label">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="default">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="prefix">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="suffix">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="seed">
          <text/>
        </element>
      </optional>
      <optional>
        <choice>
          <element name="populatingSearch">
            <interleave>
              <attribute name="fieldForValue"/>
              <attribute name="fieldForLabel"/>
              <optional>
                <attribute name="earliest"/>
              </optional>
              <optional>
                <attribute name="latest"/>
              </optional>
              <text/>
            </interleave>
          </element>
          <element name="populatingSavedSearch">
            <interleave>
              <attribute name="fieldForValue"/>
              <attribute name="fieldForLabel"/>
              <text/>
            </interleave>
          </element>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="Input">
    <element name="input">
      <choice>
        <interleave>
          <attribute name="type">
            <value>text</value>
          </attribute>
          <ref name="BaseInput"/>
        </interleave>
        <interleave>
          <attribute name="type">
            <value>dropdown</value>
          </attribute>
          <ref name="BaseInput"/>
          <zeroOrMore>
            <ref name="Choice"/>
          </zeroOrMore>
        </interleave>
        <interleave>
          <attribute name="type">
            <value>radio</value>
          </attribute>
          <ref name="BaseInput"/>
          <zeroOrMore>
            <ref name="Choice"/>
          </zeroOrMore>
        </interleave>
        <interleave>
          <attribute name="type">
            <value>time</value>
          </attribute>
          <optional>
            <attribute name="searchWhenChanged">
              <ref name="Boolean"/>
            </attribute>
          </optional>
          <optional>
            <element name="default">
              <text/>
            </element>
          </optional>
        </interleave>
      </choice>
    </element>
  </define>
  <define name="Choice">
    <element name="choice">
      <attribute name="value"/>
      <text/>
    </element>
  </define>
  <define name="GlobElement">
    <a:documentation>
Globals
</a:documentation>
    <element>
      <anyName/>
      <zeroOrMore>
        <choice>
          <attribute>
            <anyName/>
          </attribute>
          <text/>
          <ref name="GlobElement"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="Boolean">
    <choice>
      <value>true</value>
      <value>false</value>
      <value>True</value>
      <value>False</value>
    </choice>
  </define>
</grammar>
